[flake8]
application_import_names = geomstats
docstring-convention = numpy
exclude = examples/*.ipynb
ignore = W503, W504
import_order_style = smarkets
max-line-length = 88
extend-ignore = E203
per-file-ignores =
    geomstats/_backend/autograd/__init__.py:F401
    geomstats/_backend/numpy/__init__.py:F401
    geomstats/_backend/pytorch/__init__.py:F401
    geomstats/_backend/tensorflow/__init__.py:F401
