name: "Docs check and Deployment"

on:
  push:
    branches: [master,github-actions-test]
  pull_request:
    branches: [master]


jobs:
  build:

    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.7]

    steps:
      - uses: actions/checkout@v2
      - name: Build using Python ${{matrix.python-version}}
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}

      - name: install dependencies [pip]
        run:  |
          pip install --upgrade pip setuptools wheel
          for req in ci-requirements.txt dev-requirements.txt doc-requirements.txt opt-requirements.txt requirements.txt; do
            pip install -q -r $req
          done
          pip install -e .

      - uses: ammaraskar/sphinx-action@master
      - name: Build sphinx docs
        with:
          docs-folder : "docs/"
          pre-build-command: "apt-get update -y && apt-get -y install pandoc"
          build-command : "sphinx-build -b html -D version=latest -D release=latest docs docs/_build"

