name: "Linting"

on:
  push:
    branches: [master,github-actions-test]
  pull_request:
    branches: [master]

jobs:
  lint:

    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-18.04]
        python-version: [3.9]
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Linting
        uses: actions/setup-python@v2
        with:
          python-version: ${{matrix.python-version}}

      - name: install dependencies [pip]
        run:  |
          pip install --upgrade pip setuptools wheel
          pip install -e .[dev]

      - name: Setup flake8 annotations
        uses: rbialon/flake8-annotations@v1

      - name: linting [flake8]
        run: |
          flake8 geomstats/ tests/

      - name : linting [black and isort]
        run: |
          black . --check
          isort --profile black --check .
