name: "Linting"

on:
  push:
    branches: [main, github-actions-test]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: [3.13]
      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - uses: chartboost/ruff-action@v1
